
.ports{
    height: 140vh;
    margin-top: -3%;
    background-color: black;
}



.profile{
    border: 1px solid transparent;
    height: 85vh;
    width: 42vh;
    margin-left: 40%;
    margin-top: -42.5%;
    position: absolute;
    background-color: white;
    font-weight: 100;
}

.logs{
    margin-left: 5%;
    margin-top: -180%;
    font-weight: 100;
    background: white;
    height: 45vh;
    width: 54vh;
    text-align: center;
}
h1{
    font-weight: 100;
    font-size: 23px;
    margin-top: 12%;
}
p1{
    color: black;
    font-size: 18px;
}

h2{
    font-weight: 100;
    font-size: 20px;
}